# Виртуальное окружение
venv/
.venv/

# Файлы, которые создаёт Python
__pycache__/
*.pyc

# Файлы кэша
.cache/

# Другие служебные папки и файлы
.vscode/
.idea/

# Файлы данных, которые не нужно пушить
# *.csv
*.zip

# Журналы и временные файлы
*.log

# Операционные системы
.DS_Store
Thumbs.db

# Игнорируем большие файлы данных
data/sentiment_dataset.csv